body, html {
    font-size: small;
    color: #222;
    font-family: arial, sans-serif;
    background: white;
}

nav {
    height: 48px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:6px;
    text-decoration: none;
    font-size: 13px;
}

nav li a {
    text-decoration: none;
    color: black;
    opacity: 0.75;
}

nav li a:hover {
    text-decoration: underline;
}

.nav-left {
    
    padding-left: 19px;
}

.nav-left li {
    padding-right: 15px;
}

.nav-right {
    padding-right: 24px;
}

.nav-right li {
    padding-left: 13px;
}

.btn-sign-in {
    border-color: #4285f4;
    background-color: #4285f4;
    font-family: Arial, sans-serif;
    color: white;
    font-weight: 700;
    border-radius: 3px;
    border-width: 1px;
    line-height: 28px;
    width: 69px;
    height: 30px;
    border-style: none;
}

.app-icon {
    height: 25px;
    width: 25px;
    vertical-align: middle;
    color: black;
    opacity: 0.75;
}

.app-icon:hover {
    opacity: 1;
}

li {
    display: inline;
}

.center {
    text-align: center;
}

.logo-wrapper {
    padding-top: 137px;
}

main {
  margin: 5px;
  margin-top: 24px;
  display: flex;
  justify-content: center;
}

main .search {
  width: 584px;
}

main .search-input {
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  max-width: 584px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
}

main .search-input:hover {
  background-color: #fff;
  box-shadow: 0 1px 6px black;
  box-shadow: 0 1px 6px rgba(32,33,36,.28);
  border-color: rgb(223,225,229,0)
}

main .search-input-magicon span {
  color: #9aa0a6;
  fill: currentColor;
}

main .search-input span svg {
  height: 22px;
  width: 22px;
}

main .search-input-magicon {
  margin-left: 12px;
}

main .search-input-textbox {
  flex: 1 1 auto;
  margin-top: -2px;
}

main .search-input-textbox input {
  width: 97%;
  margin-left: 5px;
  font-size: 16px;
  border: none;
  outline: none;
}

main .search-input-micicon {
  margin-right: 12px;
  cursor: pointer;
}

main .search-submit {
  height:44px;
  margin: 0 auto;
  margin-top: 20px;
}

main .search-submit input {
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  height: 36px;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  color: #5f6368;
  cursor: pointer;
  border-radius: 4px;
  padding: 0 16px;
  margin: 11px 4px;
  min-width: 54px
}

main .search-submit input:hover {
  box-shadow: 0 1px 1px rgb(0,0,0,0.1);  
  border: 1px solid #dadce0;
  color: #202124;
}

footer {
  position: fixed;
  left:0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background:#f2f2f2;
  flex-shrink: 0;
  box-sizing: border-box;
  height: 40px;
  align-items: center;
  border-top: 1px solid #e4e4e4;
}

footer li {
  display: inline;
  font-size: 14px;
  padding-right: 23px;
}

footer li a {
  text-decoration: none;
  color: #5f6368;
}

footer li a:hover {
  text-decoration: underline;
}

.footer-left li:nth-child(1) {
  padding-left: 30px;
}

.footer-right li:nth-child(3) {
  padding-right: 30px;
}

@media only screen and (max-width: 1200px) {
  footer {
      justify-content: space-evenly;
  }
}

@media only screen and (max-width: 600px) {
  footer {
      flex-wrap: wrap;
      padding: 0 20px;
      height: 80px;
  }
}
