body, html {
    font-size: small;
    color: #222;
    font-family: arial, sans-serif;
    background: white;
}

nav {
    height: 48px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:6px;
    text-decoration: none;
    font-size: 13px;
}

.nav-item a {
    text-decoration: none;
    color: black;
    opacity: 0.75;
}

.nav-item a:hover {
    text-decoration: underline;
}

.nav-left {
    
    padding-left: 19px;
}

.nav-left li {
    padding-right: 15px;
}

.nav-right {
    padding-right: 24px;
}

.nav-right li {
    padding-left: 13px;
}

.btn-sign-in {
    border-color: #4285f4;
    background-color: #4285f4;
    font-family: Arial, sans-serif;
    color: white;
    font-weight: 700;
    border-radius: 3px;
    border-width: 1px;
    line-height: 28px;
    width: 69px;
    height: 30px;
    border-style: none;
}

.app-icon {
    height: 25px;
    width: 25px;
    vertical-align: middle;
    color: black;
    opacity: 0.75;
}

.app-icon:hover {
    opacity: 1;
}

li {
    display: inline;
}

.center {
    text-align: center;
}

.logo-wrapper {
    padding-top: 137px;
}

.search-area-outer {
    border:1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    border-radius: 24px;
    height:44px;
    width:582px;
    margin: 0 auto;
    margin-top: 25px;
}

.search-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.search-icon-wrapper {
    padding-right: 15px;
}

.search-icon {
    color: #9aa0a6;
    height: 20px;
    width: 20px;
}

.search-box {
    height:34px;
    font-size: 16px;
    line-height: 34px;
    margin: 0px;
    padding: 0;
    border: none;
    outline: none;
    width: 487px;
}

.mic-icon {
    padding-left: 0px;
}

.search-btn-wrapper {
    height:44px;
    width:582px;
    margin: 0 auto;
    margin-top: 20px;
}

.btn-search {
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    height: 36px;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
    color: #5f6368;
    cursor: pointer;
    border-radius: 4px;
    padding: 0 16px;
    margin: 11px 4px;
}

.btn-search:hover {
    border: 1px solid #a19e9e;
    color:#222121;
}

.btn-search-left {
    width: 127px;
}

.btn-search-right {
    width: 142px;
}

.footer-wrapper-outter {
    position: fixed;
    left:0;
    bottom: 0;
    width: 100%;
}

.footer-wrapper {
    background:#f2f2f2;
    flex-shrink: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    border-top: 1px solid #e4e4e4;
}

.footer-item {
    display: inline;
    font-size: 14px;
    padding-right: 23px;
    color: #5f6368;
}

.footer-item-first-left {
    padding-left: 30px;
}

.footer-item-first-right {
    padding-right: 30px;
}

@media only screen and (max-width: 1200px) {
    .footer-wrapper {
        justify-content: space-evenly;
    }
}

@media only screen and (max-width: 600px) {
    .footer-wrapper {
        flex-wrap: wrap;
        padding: 0 20px;
        height: 80px;
    }
}